@model Flight_Manager.Models.FlightDataModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>FlightDataModel</h4>
    <hr />
	<dl class="row">
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.AirlineID)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.AirlineID)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.AirlineName)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.AirlineName)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.FromLocation)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.FromLocation)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.ToLocation)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.ToLocation)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.DepatureTime)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.DepatureTime)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.ArrivalTime)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.ArrivalTime)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.PilotName)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.PilotName)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Capacity)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Capacity)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.BusinessCapacity)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.BusinessCapacity)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Passengers)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Passengers)
		</dd>
	</dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.AirlineID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
