@model IEnumerable<Flight_Manager.Models.FlightDataModel>

@{
	ViewData["Title"] = "Index";
}

<h1>Flights</h1>
@if (ViewContext.HttpContext.User.IsInRole("Admin")){
	<p>
		<a asp-action="Create">Create New</a>
	</p>
}
<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.AirlineID)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.AirlineName)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.FromLocation)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.ToLocation)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.DepatureTime)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.ArrivalTime)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.PilotName)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Capacity)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.BusinessCapacity)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.AirlineID)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.AirlineName)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.FromLocation)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.ToLocation)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.DepatureTime)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.ArrivalTime)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.PilotName)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Capacity)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.BusinessCapacity)
				</td>
				<td>
					@if (ViewContext.HttpContext.User.IsInRole("Admin"))
					{
						<a asp-action="Edit" asp-route-id="@item.AirlineID">Edit</a>
						<a asp-action="Delete" asp-route-id="@item.AirlineID">Delete</a>
					}
					<a asp-action="Details" asp-route-id="@item.AirlineID">Details</a>
					<a asp-controller="ReservationDataModels" asp-action="Create">Buy</a>
				</td>
			</tr>
		}
	</tbody>
</table>
